@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// media query manager
/*
$breakpoint argument choices
- phone         0-600px
- tab-port      600px-900px
- tab-land      900px-1200px
- normal-styles 1200px-1800px
- big-desktop   1800px +

order: base > typography > general layout + grid > page layout > componetd

16px   = 1em
600px  = 37.5em
900px  = 56.25em
1200px = 75em
1280px = 80em surya's
1480px = 92.5em
1800px = 112.5em

*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content };
  }

  @if $breakpoint == small-desktop {
    @media only screen and (max-width: 80em) { @content };
  }

   @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };
  }

}
