.footer {
  // background-color: $black;
  background-image: linear-gradient( to right bottom, rgba($black, 0.8), rgba($black, 1));
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo-box {
    text-align: center;
    padding: 3rem 0 0;
  }

  &__logo {
    font-size: 5rem;
  }

  &__navigation-list {
    display: flex;
    list-style: none;
    padding: 3rem 2rem;
    justify-content: space-around;
  }

  .navigation__link {
    &:link,
    &:visited {
      @include respond(phone) {
        font-size: 1rem;
        padding: .5rem;
      }

    }

  }

}
