.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, 0.8),
    rgba($color-primary-dark, 0.8)),
  url(../images/office-1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
         only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
         only screen and (min-width: 125em) {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-primary-dark, 0.8)),
    url(../images/office-2.jpg);

  }

  @include respond(tab-port) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 90vh);
    clip-path: polygon(0 0, 100% 0, 100% 78vh, 0 90vh);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 92vh);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 92vh);
  }

  &__logo-box {
    position: absolute;
    top: 3rem;
    left: 4rem;

    @include respond(phone) {
      left: 2rem;
      top: 2rem;
    }

  }

  &__logo {
    font-size: 14.5rem;
    color: $white;

    @include respond(phone) {
      font-size: 8.5rem;
    }

  }

  &__text-box {
    margin-top: 15rem;

    .btn--white {
      @include respond(phone) {
        display: none;
      }
    }

  }

  &__call-action {
    margin: 2rem 0;

    @include respond(phone) {
      display: none;
    }

  }

  &__description {
    color: $white;
    text-align: center;
    width: 80vw;
    position: absolute;
    bottom: 20vh;

    @include respond(tab-land) {
      margin-top: 0rem;
    }

    @include respond(phone) {
      bottom: 15vh;
    }

  }

}


