.navigation {

  &__nav {
    width: 100%;
    position: fixed;
    right: 0;
    z-index: 2;
    height: 6rem;
  }

  &__change {
    background: none;
  }

  &__logo-wrap {
    opacity: 0;
    transform: translateY(-2rem);
    padding-left: 6rem;
    float: left;
  }

  &__logo {
    display: inline-block;
    visibility: hidden;
  }

  &__small-logo {
    height: 5.5rem;
    padding: .5rem;

    @include respond(phone) {
      margin-left: -2.5rem;
    }

  }

  &__menu-btn {
    display: none;

    &:checked ~ {
      .navigation__list {
        max-height: max-content;
      }
      .navigation__menu-icon {
        .navigation__menu-icon__navicon {
          background: transparent;
          &:before {
            transform: rotate(-45deg);
          }
          &:after {
            transform: rotate(45deg);
          }
        }
        &:not(.steps) .navigation__menu-icon__navicon {
          &:before, &:after {
            top: 0;
          }
        }
      }
    }

  }

  &__menu-icon {
    cursor: pointer;
    float: right;
    padding: 3rem;
    user-select: none;
    display: none;

    @include respond(phone) {
      display: block;
      position: absolute;
      right: 0;
      z-index: 3;
    }

    &__navicon {
      background: $white;
      display: block;
      height: 3px;
      position: relative;
      transition: background .2s ease-out;
      width: 2.8rem;
      &:before, &:after {
        background: $white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      &:before {
        top: 7px;
      }
      &:after {
        top: -7px;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    overflow: hidden;
    clear: none;
    float: right;
    max-height: none;
    transition: max-height .2s ease-out;


    @include respond(phone) {
      clear: both;
      max-height: 0;
      background-image: linear-gradient(to right bottom, rgba($color-primary, 1), rgba($color-primary-dark, 1));
      width: 100%;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      top: 0;
    }

  }

  &__item {
    margin: 1.5rem;

    @include respond(phone) {
      margin: 0;
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid $color-primary-dark;
      }

    }

  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1rem;
      font-weight: 300;
      padding: .5rem 1rem;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white 50%);
      background-size: 250%;
      transition: all .4s;

      @include respond(phone) {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        padding: 3rem 0;
        transition: none;
      }

    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
    }
  }
}

.navigation__nav.navigation__change {
  // background-image: linear-gradient(to right bottom, rgba($color-primary, 1), rgba($color-primary-dark, 1));
  background: $color-primary-dark;

  .navigation__logo-wrap {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all .4s;

    .navigation__logo {
      visibility: visible;
    }

  }

}
