.composition {
  position: relative;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
  }

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 0;
    outline-offset: 2rem;
    transition: all .2s;

    @include respond(tab-port) {
      position: relative;
      width: 100%;
      box-shadow: 0 1.5rem 3rem rgba($black, .2);
      transition: none;
      outline-offset: 0;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
      }

    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: 0;
      }

    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-port) {
        top: 0;
        left: 0;
      }

    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4 rem rgba($black, .5);
      z-index: 1;

      @include respond(tab-port) {
        transform: scale(1) translateY(0);
        outline: none;
      }
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(.95);

    @include respond(tab-port) {
      transform: scale(1);
    }

  }
}


