.feature-box {
  background-color: rgba($white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($black, .15);
  transition: transform .3s;
  min-height: 35rem;
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  @include respond(phone) {
    min-height: initial;
  }

  &__icon {
    font-size: 6rem;
    margin: 1.5rem 0 2.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
  }
}
