.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input, &__textarea {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color:  rgba($white, .9);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $dark-gray-2 ;
    }

    @include respond(phone) {
        width: 100%;
    }

  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin: .7rem 0 0 2rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label,
  &__textarea:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__textarea {
    resize: none;
    height: 9rem;
    overflow-y: auto;
  }

}
