*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Browsers base font size 16px and our defined font size 10px( so 10px =1rem)
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  scroll-behavior: smooth;

  @include respond(tab-land) { // asks if width < or = 1200px?
    font-size: 56.25%; //1 rem = 9px, 9px/16px = 56.25%
  }

  @include respond(tab-port) { // asks if width < or = 900px?
    font-size: 50%; // 1rem = 8px, 8px/16px = 50%
  }

  @include respond(small-desktop) {
    font-size: 46.85%; //1rem = 7.5px, 7.5px/16px = 75%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12px/16px = 75%
  }

}

body{
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $white;
}
