@charset "UTF-8";

@font-face {
  font-family: 'cocolabs';
  src:  url('/fonts/cocolabs.eot');
  src:  url('/fonts/cocolabs.eot?#iefix') format('embedded-opentype'),
    url('/fonts/cocolabs.ttf') format('truetype'),
    url('/fonts/cocolabs.woff') format('woff'),
    url('/fonts/cocolabs.svg?#cocolabs') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "cocolabs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cocolabs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coco-academy:before {
  content: "\e900";
}
.icon-coco-hub:before {
  content: "\e901";
}
.icon-coco-labs-logo:before {
  content: "\e902";
}
.icon-cell-phone:before {
  content: "\e903";
}
.icon-conversation:before {
  content: "\e904";
}
.icon-email:before {
  content: "\e905";
}
.icon-focus:before {
  content: "\e906";
}
.icon-map-marker:before {
  content: "\e907";
}
.icon-mobile-development:before {
  content: "\e908";
}
.icon-software-development:before {
  content: "\e909";
}
.icon-testing:before {
  content: "\e90a";
}
.icon-web-applications:before {
  content: "\e90b";
}
