body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $dark-gray;
}

.heading-primary{
  color: $white;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  // margin-bottom: 16rem;

  &--main{
    display: block;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*animation-iteration-count: 3;*/
    /*animation-delay: 3s;*/

    @include respond(phone) {
      // font-size: 2rem;
      // letter-spacing: 1rem;


    font-size: 3rem;
    letter-spacing: 0.5rem;
    width: 58%;
    margin: 0 auto;
    text-align: center

    }

  }
  &--sub{
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: .5rem;
    }

  }

}


.heading-secondary {
  font-size:  3.5em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

}

.heading-tertiary {
  font-size: $default-font-size ;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
}

.heading-quaternary {
  display: block;
  font-size: 1.4rem;
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 0.2rem;
  line-height: 2;
  letter-spacing: .2rem;
}

.paragraph {
  font-size: $default-font-size ;
  letter-spacing: 0.05rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

// text-scroll in hero container
.text-scroll-content {
  $text-width: 19rem;
  display: flex;
  justify-content: center;
  height: 4rem;
  overflow:hidden;
  letter-spacing: .5rem;
  text-transform: uppercase;
  color: $white;
  width: 100%;
  margin-top: 10rem;

  @include respond(tab-port) {
    margin-bottom: 5rem;

  }

  @include respond(phone) {
    margin-top: 6rem;
    height: 9rem;

  }

  &__container {
    font-weight: 400;
    overflow: hidden;
    height: 4rem;
    padding: 0 4rem;
    font-size: 2rem;


    @include respond(phone) {
      height: 9rem;
    }

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      text-align: center;
      list-style: none;
      -webkit-animation-name: text-change;
      -webkit-animation-duration: 18s;
      -webkit-animation-iteration-count: infinite;
      animation-name: text-change;
      animation-duration: 18s;
      animation-iteration-count: infinite;

      &__item {
        line-height:4rem;
        margin:0;
      }
    }
  }
}
