.u-uppercase {
  text-transform: uppercase;
}

.u-semi-bold-font {
  font-weight: 700;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small { margin-bottom: 2rem !important; }
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }

}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }

}
.color-primary {
  color: $color-primary;
}
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

