.section-about {
  background-color: $color-grey-light-1;
  padding: 10rem 0;
  // margin-top: -20vh; // (95vh-75vh)header height minus header polygon clip-path

  @include respond(tab-port) {
    padding: 10rem 0;

    .row {
      max-width: 90rem;
    }

  }

  @include respond(phone) {

    .row {
      max-width: 60rem;
    }

  }

}

.section-features {
  padding: 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  @include respond(phone) {
    padding: 3rem 0;
  }

}

.what-we-do {
  padding-bottom: 6rem;
}

.application-mgmt-practices {
  margin-bottom: 10rem;

  @include respond(phone) {
    margin-bottom: 5rem;
  }

  .heading-secondary {
    margin-top: 2rem;
  }

}

.section-courses {
  position: relative;
  padding: 10rem 0 10rem 0;

  .callout {
    h3:first-child {
      text-transform: initial;
      font-weight: 400;
    }
  }

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }

  @include respond(phone) {
    padding: 5rem 0;
  }


  .heading-tertiary {
    padding: 5px 10px;
    margin: 0;
  }

}

.section-instructors {
  position: relative;
  padding: 15rem 0;
    background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, 0.8),
    rgba($color-primary-dark, 0.8)),
  url(../images/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }


  @include respond(tab-port) {
    padding: 10rem 0;

    .row {
      max-width: 70rem;
    }

  }

}

.section-queries {
  padding: 15rem 0;
  background-image: linear-gradient(
  to right bottom,
  rgba($color-primary-dark, 1),
  rgba($color-primary-dark, 0.8));

  @include respond(tab-port) {
    .row {
      max-width: 90rem;
    }
  }

  @include respond(tab-port) {
    padding: 8rem 0;
  }

}

.query {
  background-image: linear-gradient(105deg,
                                    rgba($color-primary-dark, .8) 0%,
                                    rgba($color-primary-light, .9) 50%,
                                    transparent 50%),
                                    url(../images/coco-map.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($black, .2);
  height: 58rem;
  position: relative;

  @include respond(tab-land) {

    background-image: linear-gradient(105deg,
                                      rgba($color-primary-dark, .8) 0%,
                                      rgba($color-primary-light, .9) 60%,
                                      transparent 60%),
                                      url(../images/coco-map.jpg);
    }

    @include respond(tab-port) {
      background-image: linear-gradient(to right,
                                        rgba($color-primary-dark, .8) 0%,
                                        rgba($color-primary-light, .9) 100%,
                                        transparent 100%),
                                        url(../images/coco-map.jpg);

    }

  &__form {
    width: 50%;
    padding: 6rem;
    height: 100%;

    .heading-secondary {
      color: $white;
    }

    @include respond(tab-land) {
      width: 60%;
    }

    @include respond(tab-port) {
      width: 100%;
    }

  }

  .map-location {
    padding: 2rem 0;
    font-size: 1.5rem;

    &__phone {
      position: absolute;
      bottom: 1.5rem;
      color: $white;
    }

    &__phone-no {
      color: $white;
      a {
        color: $white;
        text-decoration: none;
        font-family: inherit;
      }

    }

    &__link {
      text-decoration: none;
      position: absolute;
      right: 0;
      color: $white;

    &:hover {
      text-decoration: underline;
    }

    }
  }

}
