.privacy-policy {
  padding: 0;
  .navigation__nav {
    background: #062666;
  }
  .navigation__logo-wrap {
    opacity: 1;
    padding-top: 2rem;
  }
  .navigation__logo {
    visibility: visible;
  }
}

.privacy-policy-content {
  padding: 8rem 15rem;
  @include respond(small-desktop) {
    padding: 8rem 5rem;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    @include respond(small-desktop) {
     font-size: 2.5rem;
    }
  }
  li {
    font-size: 1.6rem;
    @include respond(small-desktop) {
      font-size: 2.5rem;
    }
  }
}
